
<h2 class="h2">
    ABOUT US
</h2>
<p class="p">
    OPALGEO Solutions Ltd is the leading Consultancy Partner when it comes to Sustainably
    Harnessing Natural Resources through Geosciences, Engineering and Environmental Services &
    Products.
</p>    
<p class="p">
    Established in 2019, the Company has become a Renowned Hub of Seasoned Geologists,
    Geoscientists, Environmental Gurus, Civil & Mechanical Engineers, Health & Safety Experts as
    well as Energy Economists in the Great-Lakes Region. Since its incorporation, OpalGeo solutions
    Ltd has remained committed to providing High-quality, Eco-friendly, Cost-effective and Timebound services to Individuals, Institutions, Organisations, Companies, NGOs & The
    Governments.
</p>   
<p class="p">
    For all our projects, Occupational and Environmental Health & Safety are at the forefront and we
    are committed to cultivating the Safety culture across our Operations, Internal staff and any third
    parties on the projects. At OpalGeo Solutions, all our projects go through Impact Assessments
    before implementation because Safety is how we do business!
    
</p>   
<p class="p">
OpalGeo Solutions Ltd. aims to provide Worldclass Services using Multi-disciplinary
Contemporary approaches. We continually invest in our staff and technical facilities so we can
combine this with our extensive global experience and pass this on to our customers as a service
of the highest quality. We stay committed to Building lasting Capacity: Educating and Training
recent Graduates, and the industry at large, through Technical contributions to Research Projects
and informative Publications is priority for us. 
</p>    
<p class="p">
    In the nutshell, we remain committed to collaboratively address Energy Poverty, ensure Energy
    Diversification, yet assure Energy Sustainability on the continent.
</p> 

<h2 class="h2">OUR VISION</h2>
<p class="vision">
    To be the leading Consultancy Partner in Sustainably Harnessing Natural Resources in East and
Central Africa
</p>
<h2 class="h2">
    OUR MISSION
</h2>
<p class="vision">
To deliver Quality Eco-friendly Services in Natural Resource Utilisation using Contemporary
Technologies and Multidisciplinary approaches by promoting projects that sustainably enhance
livelihoods, preserve environment and contribute to the socioeconomic development of the
communities, whilst in all this, creating tangible value for all our stakeholders.
</p>
<h2 class="h2">
    OUR CORE VALUES
</h2>
<div class="row">
    <div class="col-md-12">
      <div class="ts-service-box">
          <span class="ts-service-icon">
            <i class="fas fa-trophy"></i>
          </span>
          <div class="ts-service-box-content">
            <h3 class="service-box-title">Excellence</h3>
          </div>
      </div><!-- Service 1 end -->
    </div><!-- col end -->

    <div class="col-md-6">
      <div class="ts-service-box">
          <span class="ts-service-icon">
            <i class="fas fa-sliders-h"></i>
          </span>
          <div class="ts-service-box-content">
            <h3 class="service-box-title">Innovativeness</h3>
          </div>
      </div><!-- Service 2 end -->
    </div><!-- col end -->
</div><!-- Content row 1 end -->

<div class="row">
    <div class="col-md-12">
      <div class="ts-service-box">
          <span class="ts-service-icon">
            <i class="fas fa-thumbs-up"></i>
          </span>
          <div class="ts-service-box-content">
            <h3 class="service-box-title">Safety First</h3>
          </div>
      </div><!-- Service 1 end -->
    </div><!-- col end -->

    <div class="col-md-6">
      <div class="ts-service-box">
          <span class="ts-service-icon">
            <i class="fas fa-users"></i>
          </span>
          <div class="ts-service-box-content">
            <h3 class="service-box-title">Professionalism</h3>
          </div>
      </div><!-- Service 2 end -->
    </div><!-- col end -->
</div><!-- Content row 1 end -->