<footer id="footer" class="footer bg-overlay">
  <div class="footer-main">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6 footer-widget footer-about">
          <h3 class="widget-title">About Us</h3>
          <img loading="lazy" width="200px" class="footer-logo" src="{{site.baseurl}}/images/footer-logo.png" alt="Constra">
        
          <!-- <div class="footer-social">
            <ul>
              <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                    class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/themefisher" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
              </li>
              <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                    class="fab fa-instagram"></i></a></li>
              <li><a href="https://github.com/themefisher" aria-label="Github"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>Footer social end -->
        </div><!-- Col end -->

        <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
          <p>
            OPALGeo Solutions Ltd offers a wide range of  services in exploration for, and development of, natural resources, including the oil & gas and minerals sectors. We have experienced/dedicated and highly motivated teams that have undertaken exploration projects for several mining/oil & gas companies.
            
          </p>
        </div>

        <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
          <h2 class="text-warning">CONTACT US</h2>
          <p>
         <i class="text-warning">TEL: </i>  {%include phone.html%}  
          </p>
          <p>
            <i class="text-warning">Email: </i>  {%include email.html%}  
             </p>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
        
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Footer main end -->

  <div class="copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="copyright-info text-center text-md-left">
            <span>Copyright &copy; <script>
                document.write(new Date().getFullYear())
              </script>, Designed &amp; Developed by <a href="">Aysh Inventions Ltd</a></span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="footer-menu text-center text-md-right">
            OPALGEO LIMITED
          </div>
        </div>
      </div><!-- Row end -->

      <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
        <button class="btn btn-primary" title="Back to Top">
          <i class="fa fa-angle-double-up"></i>
        </button>
      </div>

    </div><!-- Container end -->
  </div><!-- Copyright end -->
</footer><!-- Footer end -->

  <!-- initialize jQuery Library -->
  <script src="{{site.baseurl}}/plugins/jQuery/jquery.min.js"></script>
  <!-- Bootstrap jQuery -->
  <script src="{{site.baseurl}}/plugins/bootstrap/bootstrap.min.js" defer></script>
  <!-- Slick Carousel -->
  <script src="{{site.baseurl}}/plugins/slick/slick.min.js"></script>
  <script src="{{site.baseurl}}/plugins/slick/slick-animation.min.js"></script>
  <!-- Color box -->
  <script src="{{site.baseurl}}/plugins/colorbox/jquery.colorbox.js"></script>
  <!-- shuffle -->
  <script src="{{site.baseurl}}/plugins/shuffle/shuffle.min.js" defer></script>
  <script src="{{site.baseurl}}/plugins/google-map/map.js" defer></script>
  <script src="{{site.baseurl}}/js/script.js"></script>

  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/63022a9f37898912e9644579/1gb07d0f4';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->