<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="shuffle-btn-group">
            <label class="active" for="all">
              <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Hoima
            </label>
            <!----
            <label for="commercial">
              <input type="radio" name="shuffle-filter" id="commercial" value="commercial">Commercial
            </label>
            <label for="education">
              <input type="radio" name="shuffle-filter" id="education" value="education">Education
            </label>
            <label for="government">
              <input type="radio" name="shuffle-filter" id="government" value="government">Government
            </label>
            <label for="infrastructure">
              <input type="radio" name="shuffle-filter" id="infrastructure" value="infrastructure">Infrastructure
            </label>
            <label for="residential">
              <input type="radio" name="shuffle-filter" id="residential" value="residential">Residential
            </label>
            <label for="healthcare">
              <input type="radio" name="shuffle-filter" id="healthcare" value="healthcare">Healthcare
            </label>
          -->
          </div><!-- project filter end -->
  
  
          <div class="row shuffle-wrapper">
            <div class="col-1 shuffle-sizer"></div>
  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;healthcare&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="{{site.baseurl}}/images/projects/project2.jpg">
                  <img class="img-fluid" src="{{site.baseurl}}/images/projects/project2.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                 
                </div>
              </div>
            </div><!-- shuffle item 2 end -->

  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;education&quot;,&quot;infrastructure&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="{{site.baseurl}}/images/projects/project4.jpg">
                  <img class="img-fluid" src="{{site.baseurl}}/images/projects/project4.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
               
                </div>
              </div>
            </div><!-- shuffle item 4 end -->
  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;infrastructure&quot;,&quot;education&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="{{site.baseurl}}/images/projects/project5.jpg">
                  <img class="img-fluid" src="{{site.baseurl}}/images/projects/project5.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                 
                </div>
              </div>
            </div><!-- shuffle item 5 end -->
  
            <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;residential&quot;]">
              <div class="project-img-container">
                <a class="gallery-popup" href="{{site.baseurl}}/images/projects/project6.jpg">
                  <img class="img-fluid" src="{{site.baseurl}}/images/projects/project6.jpg" alt="project-image">
                  <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                </a>
                <div class="project-item-info">
                
                </div>
              </div>
            </div><!-- shuffle item 6 end -->
          </div><!-- shuffle end -->
        </div>
  
      
      </div><!-- Content row end -->
  
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
  