<div class="row text-center">
  <div class="col-12">
    
    <h1 class="h3">OUR SERVICES</h1>
<div class="row">
<div class="ps-5 col-md-12 text-left  mt-3 serviceitem">
<h3 class=" servicebutton">
<a>MINING & MINERAL DEVELOPMENT</a>
</h3> 
<p class="servicedescription p-md-5 ">
  OpalGeo Solutions Ltd brings together a team of experts in Mineral Development & Rock
Evaluation to undertake Geologic mapping, Geophysical & Geochemical surveys with an
objective of appraising Mineral Resources and evaluating their economic potential.
We conduct surveys to prospect and explore for minerals through field mapping, Sampling
(soil/stream/grab/rock/bedrock), trenching, coring, and assaying. We undertake reserve appraisals,
plan, design & manage both Surface & Underground mines. Our team is experienced in exploring
precious metals like Gold, Copper, Tin, Tantalite; Base metals and Rocks such as Granites, Marble,
Quartzites, and Industrial minerals like Sand, Clay, limestone. We also guide our clients during
licence application and compliance.

</p>  
</div>
<div class="ps-5 col-md-12 text-left  mt-3 serviceitem">
<h3 class=" servicebutton">
<a>
  OIL AND GAS
</a>
</h3> 
<p class="servicedescription p-md-5 ">
  We offer World class consultancy services in oil and gas exploration and development such as
Geological Outcrop Studies, 2D/3D Geophysical Survey designs, Data Acquisition &
Interpretation (Seismic, Electric logs, Core/Cuttings), Basin Modelling, Reservoir
characterization, Prospect evaluation, and Field Development Planning.
At OpalGeo Solutions Ltd, we are also committed to building capacity of both National and
Foreign Entities and Individuals in oil and gas development through Training & Training Materials
& Tools, Industry Softwares and other Short Courses for them to remain competitive in the market.
For Foreign clients, we conduct local partner searches and due diligence required putting into
consideration the expertise, capacity and clear record of compliance with the local and
international regulations.
</p>  
</div>
<div class="ps-5 col-md-12 text-left  mt-3 serviceitem">
<h3 class=" servicebutton">
 <a>
    GREEN ENERGY SOLUTIONS
  </a>
</h3>  
<p class="servicedescription p-md-5 ">
  Environment conservation is at the heart of our projects. We are awake to the fact that climate
change is a global menace collectively resulting from unit localised projects across the world. So
at OPALGeo Solutions Ltd, we bring world class expertise to cover all technical, commercial and
regulatory aspects of Renewable projects ranging from Wind farms, Biomass, Heat pumps,
Anaerobic digestion, Geothermal, Solar PV & Tidal options together with Carbon Capture Storage
& Sequestration projects.
Our group of experts provides independent and impartial renewable energy consultancy services,
tailored to your individual requirements. Our energy efficiency alternatives also help our clients
reduce their entity energy costs thus increasing their profit. We perform energy audits and provide
cost effective project development and management Services.
We also provide advice to companies seeking to expand their energy portfolio or acquire renewable
assets, working with consulting companies, factories, businesses, investors, venture capitalists,
technology providers, governments, and natural resource managers to devise strategies for
renewable energy exploitation and energy efficiency projects.
</p>  
 </div>
 <div class="ps-5 col-md-12 text-left  mt-3 serviceitem">
  <h3 class=" servicebutton">
   <a>
    GEOTECH, HYDROGEOLOGY & GEOENGINEERING

    </a>
  </h3> 
  <p class="servicedescription p-md-5 ">
    We also undertake Geotechnical surveys where we investigate the Physical, Mechanical &
    Chemical properties of soils & rocks to the Structural design of Roads, Foundations, construction
    Sites, Retaining walls, Houses, Earth dams, Clay liners, & Geosynthetics site for waste
    containment.
    We also undertake Groundwater Investigations like 1D Resistivity & VES, 2D Electrical
    Resistivity Tomography (ERT), Aquifer test analysis, Aquifer Mapping, and Borehole Works Like
    Borehole siting and Borehole drilling.
  </p> 

   </div>
   <div class="ps-5 col-md-12 text-left  mt-3 serviceitem">
    <h3 class=" servicebutton">
     <a>
        ENVIRONMENT, HEALTH & SAFETY
      </a>
    </h3> 
    <p class="servicedescription p-md-5 ">
      Our team of experts is committed to developing and executing eco-friendly projects to our clients.
      We have capacity and expertise in Environmental and Social Impact Assessment (ESIA),
      Resettlement Action Plan (RAP), Livelihood Restoration Plan (LRP), Environmental Management
      Systems (EMS) for Companies, Organisations & NGOs. At OpalGeo Solutions, we also
      investigate incidents, and perform Health and Safety Audit. At OpalGeo Solutions, e have
      innovative ideas that protect the environment for both the present and further generations.
      
    </p> 
     </div>
     <div class="ps-5 col-md-12 text-left  mt-3 serviceitem">
      <h3 class=" servicebutton">
       <a>
    FINANCE & ENERGY ECONOMICS
        </a>
      </h3> 
      <p class="servicedescription p-md-5 ">
        We offer objective, sector-focused advice that aids our clients to successfully navigate the
        complexities of M&A transactions. We evaluate potential acquirers or targets and advise on the
        transaction structure, valuation and financing, with the aim of realising maximum value through a
        sale or acquisition through our experts who understand this market.
        We offer Private Equity (PE) Advisory firms and other funds investing in EastAfrica Natural
        resources, tailor made services during the duration of their investment cycle. Our services include
        portfolio evaluation, buy side due diligence, investment sourcing, exits and valuations. Our team
        is also experienced in business evaluation, financial modeling, fund raising and feasibility
        studies.  
      </p>   
       </div>
</div>
  </div>
</div>
<!--/ Title row end -->