<div class="row text-center">
  <div class="col-12">
    
    <h1 class="h3">OUR SERVICES</h1>
<div class="row">
<div class="p-1 col-md-6  mt-3 serviceitem">
<h3 class="m-1 servicebutton">
<a>MINING & MINERAL DEVELOPMENT</a>
</h3>  
</div>
<div class="p-1 col-md-6  mt-3 serviceitem">
<h3 class="m-1 servicebutton">
<a>
  OIL AND GAS
</a>
</h3>  
</div>
<div class="p-1 col-md-6  mt-3 serviceitem">
<h3 class="m-1 servicebutton">
 <a>
    GREEN ENERGY SOLUTIONS
  </a>
</h3>  
 </div>
 <div class="p-1 col-md-6  mt-3 serviceitem">
  <h3 class="m-1 servicebutton">
   <a>
    GEOTECH, HYDROGEOLOGY & GEOENGINEERING

    </a>
  </h3>  
   </div>
   <div class="p-1 col-md-6  mt-3 serviceitem">
    <h3 class="m-1 servicebutton">
     <a>
        ENVIRONMENT, HEALTH & SAFETY
      </a>
    </h3>  
     </div>
     <div class="p-1 col-md-6  mt-3 serviceitem">
      <h3 class="m-1 servicebutton">
       <a>
    FINANCE & ENERGY ECONOMICS
        </a>
      </h3>  
       </div>
</div>
  </div>
</div>
<!--/ Title row end -->