<div class="accordion accordion-group" id="our-values-accordion">
  <h3 class="text-success mt-5 p-3 bg-light  ">1. Upstream consultancy services- Exploration and Development</h3>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Upstream consultancy
        </button>
      </h2>
    </div>

    <div
      id="collapseOne"
      class="collapse show"
      aria-labelledby="headingOne"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        <p>
          We offer consultancy services in exploration for, and development of,
          natural resources, including the oil & gas and minerals sectors. We
          have experienced/dedicated and highly motivated teams that have
          undertaken exploration projects for several mining/oil & gas
          companies.
        </p>
        <p>
          We provide expertise in the project management (survey design,
          acquisition and interpretation) of exploration operations, including
          field geological reconnaissance, airborne and ground geophysical and
          geochemical surveys and seismic operations. Our team is experienced in
          seismic data interpretation, generation and interpretation of geologic
          models, and interpretation of geochemical data.
        </p>
        <p>
          Our personnel are experienced at basin modelling for prospect
          evaluation for licence application, prospect risking and ranking and
          planning for exploration drilling. Our team is as well experienced in
          well log analysis, log data-core data integration and, post drilling
          petrophysical analysis, project cost estimation and cost tracking.
        </p>
      </div>
    </div>
  </div>

  <!-- Heading 2 -->
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwo">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Exclusive talent pooling
        </button>
      </h2>
    </div>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We are committed to outsourcing experienced, highly trained and
        motivated personals to effectively and efficiently deliver projects for
        our clients.
      </div>
    </div>
  </div>
  <!-- End heading 2 -->
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingThree">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Capacity building
        </button>
      </h2>
    </div>
    <div
      id="collapseThree"
      class="collapse"
      aria-labelledby="headingThree"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We carry out capacity building for our clients through trainings and
        short courses in oil and gas/mining to remain competitive in the
        industry.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingFour">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          Partner search for international partners
        </button>
      </h2>
    </div>
    <div
      id="collapseFour"
      class="collapse"
      aria-labelledby="headingFour"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We contact local partner search for our clients. We search for partners
        with the required expertise and capacity and clear record of compliance
        with the local and international regulations.
      </div>
    </div>
  </div>
  <h3 class="text-success mt-5 p-3 bg-light  ">2. Environmental Services</h3>

  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingFive">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          Environmental services
        </button>
      </h2>
    </div>
    <div
      id="collapseFive"
      class="collapse"
      aria-labelledby="headingFive"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We offer consultancy in Health, Safety and Environment (HSE) in areas
        of:
        <ul>
          <li>Environmental Management Systems (EMS)</li>
          <li>Incident Investigation</li>
          <li>Environment quality standards</li>
          <li>HSE regulations and laws</li>
          <li>Health and safety Audit</li>
          <li>HSE Management Systems</li>
          <li>Environment Reporting System</li>
          <li>Occupational Health and Safety</li>
          <li>Environmental Performance Evaluation and Reporting</li>
        </ul>
      </div>
    </div>
  </div>
  <h3 class="text-success mt-5 p-3 bg-light  ">3. Geotechnical Services</h3>

  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingSix">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          Geotechnical Investigations and Engineering
        </button>
      </h2>
    </div>
    <div
      id="collapseSix"
      class="collapse"
      aria-labelledby="headingSix"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Rotary Drilling & Sampling, Filed and Laboratory Tests, Recommendation
        of bearing capacity, Type of foundation, Geophysical Investigation for
        Geological interpretation of soil stratification, Design of Earthen
        Structures, Pile Foundations, Rock Anchors and Ground Improvement.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingSeven">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          Exploration
        </button>
      </h2>
    </div>
    <div
      id="collapseSeven"
      class="collapse"
      aria-labelledby="headingSeven"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Ground penetrating radar (GPR) utility survey, pavement coring, hand
        auger, test pits, ground-water monitoring wells, and geotechnical and
        environmental drilling.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingEight">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseEight"
          aria-expanded="false"
          aria-controls="collapseEight"
        >
          Material testing and laboratory analysis.
        </button>
      </h2>
    </div>
    <div
      id="collapseEight"
      class="collapse"
      aria-labelledby="headingEight"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We apply a combination of both destructive testing and non-destructive
        testing methods to materials to determine their potential properties,
        performance, strength, durability and resistance, to ensure safety,
        compliance and fitness for purpose. Tests include tensile testing,
        impact testing or hardness testing, fatigue testing, fracture mechanics,
        crack metal testing, crack propagation testing, creep testing, corrosion
        testing and chemical analysis services using OES, XRF, ICP, EDS, MS and
        other analytical techniques.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingNine">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseNine"
          aria-expanded="false"
          aria-controls="collapseNine"
        >
          Geological and Geohazard analysis
        </button>
      </h2>
    </div>
    <div
      id="collapseNine"
      class="collapse"
      aria-labelledby="headingNine"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Our geohazard team utilizes geotechnical, geological and geophysical
        surveys and data to conduct geohazard assessment services including
        identification, qualitative and quantitative analysis, risk assessment,
        mitigation and solution engineering applied to exploration, development
        and construction projects. Our experienced team of geologists,
        geophysicists, environmental scientists and geotechnical engineers apply
        their considerable knowledge and experience to minimize the impact of
        geohazards on cost, safety and environmental integrity.
      </div>
    </div>
  </div>
  <h3 class="text-success mt-5 p-3 bg-light  ">4. Renewable energy consultancy</h3>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTen"
          aria-expanded="false"
          aria-controls="collapseTen"
        >
          Renewable energy consultancy
        </button>
      </h2>
    </div>
    <div
      id="collapseTen"
      class="collapse"
      aria-labelledby="headingTen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        <p>
          At OPALGeo Solutions Ltd., We bring world class expertise to cover all
          technical, commercial, regulatory and environmental aspects of
          renewable projects ranging from wind farms, biomass, heat pumps,
          anaerobic digestion and groundwater solutions to Geothermal, Solar PV
          and Tidal options.
        </p>
        <p>
          Our group of experts provides independent and impartial renewable
          energy consultancy services, tailored to your individual requirements.
          Our energy efficiency services help you reduce your business energy
          costs and increase your profit- We perform energy audits and provide
          cost effective project development and management Services.
        </p>

        <p>
          We also provide advice to companies seeking to expand their energy
          portfolio or acquire renewable assets, working with consulting
          companies, factories, businesses, investors, banks engineering
          companies, venture capitalists, technology providers, governments, and
          natural resource managers to devise strategies for renewable energy
          exploitation and energy efficiency projects.
        </p>
      </div>
    </div>
  </div>
  <h3 class="text-success mt-5 p-3 bg-light  ">5. Incorporation Services & Company Registration Consultancy </h3>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingEleven">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseEleven"
          aria-expanded="false"
          aria-controls="collapseEleven"
        >
          Incorporation Services & Company Registration Consultancy
        </button>
      </h2>
    </div>
    <div
      id="collapseEleven"
      class="collapse"
      aria-labelledby="headingEleven"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        OPALGeo Solutions Ltd is prepared to get your local and foreign business
        and company- especially in energy and extractive industry- started in
        Uganda. We can help you register with Uganda Registration Services
        Bureau (URSB), Uganda Revenue Authority (URA for Taxpayer Identification
        Number), Kampala Capital City Authority (KCCA for a Trading License),
        Posta Uganda for a Post Office Box Number, National Social Security Fund
        (NSSF), National Supplier Database (NSD For The Oil and Gas Sector),
        Ministry of Gender Labour and Social Development (MGLSD for Workplace
        Registration), and Registration with the Uganda Investment Authority
        (UIA for an Investment License).
      </div>
    </div>
  </div>
  <h3 class="text-success mt-5 p-3 bg-light  ">6. Financial services</h3>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwelve">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwelve"
          aria-expanded="false"
          aria-controls="collapseTwelve"
        >
          Mergers & Acquisitions
        </button>
      </h2>
    </div>
    <div
      id="collapseTwelve"
      class="collapse"
      aria-labelledby="headingTwelve"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We offer objective, sector-focused advice that aids our clients to
        successfully navigate the complexities of M&A transactions. We evaluate
        potential acquirers or targets and advise on the transaction structure,
        valuation and financing, with the aim of realizing maximum value through
        a sale or acquisition through our experts who understand this market.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingThirteen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThirteen"
          aria-expanded="false"
          aria-controls="collapseThirteen"
        >
          Private Equity Advisory
        </button>
      </h2>
    </div>
    <div
      id="collapseThirteen"
      class="collapse"
      aria-labelledby="headingThirteen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We offer PE firms and other funds investing in East Africa tailor made
        services during the duration of their investment cycle. Our services
        include portfolio evaluation, buy side due diligence, investment
        sourcing, exits and valuations
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingFourteen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFourteen"
          aria-expanded="false"
          aria-controls="collapseFourteen"
        >
          BUSINESS VALUATION
        </button>
      </h2>
    </div>
    <div
      id="collapseFourteen"
      class="collapse"
      aria-labelledby="headingFourteen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        We provide transaction advisory services to business owners that include
        among others indicative valuation.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingFifteen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFifteen"
          aria-expanded="false"
          aria-controls="collapseFifteen"
        >
          FINANCIAL MODELLING
        </button>
      </h2>
    </div>
    <div
      id="collapseFifteen"
      class="collapse"
      aria-labelledby="headingFifteen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Developing detailed financial models tailored for specific projects,
        capable of running intuitive scenario analysis for lenders and
        shareholders.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingSixteen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSixteen"
          aria-expanded="false"
          aria-controls="collapseSixteen"
        >
          FUNDRAISING
        </button>
      </h2>
    </div>
    <div
      id="collapseSixteen"
      class="collapse"
      aria-labelledby="headingSixteen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Undertaking debt and equity fundraising activities in order to attract
        the most efficient and flexible funding available for projects.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingSeventeen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseSeventeen"
          aria-expanded="false"
          aria-controls="collapseSeventeen"
        >
        FEASIBILITY STUDIES
        </button>
      </h2>
    </div>
    <div
      id="collapseSeventeen"
      class="collapse"
      aria-labelledby="headingSeventeen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Undertaking viability analyses to inform project investment return and market risks and opportunities.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingEighteen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseEighteen"
          aria-expanded="false"
          aria-controls="collapseEighteen"
        >
        Policy Formulation
        </button>
      </h2>
    </div>
    <div
      id="collapseEighteen"
      class="collapse"
      aria-labelledby="headingEighteen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        This involves;
<ul>
  <li>Reviewing the legal and regulatory framework of the projects</li>
  <li>Advice on the in-process contractual arrangements and agreements</li>
  <li>Support in negotiations with relevant stakeholders </li>
  <li>Advice on an enabling legislative and contractual regime </li>
  <li>Socio-economic analysis of the Project</li>
  <li>Commercial diagnostic survey </li>
  <li>Project risk assessment and mitigation</li>
</ul>

      </div>
    </div>
  </div>
  <h3 class="text-success mt-5 p-3 bg-light  ">7. Minerals and mining</h3>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingNineteen">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseNineteen"
          aria-expanded="false"
          aria-controls="collapseNineteen"
        >
        Mineral geological survey
        </button>
      </h2>
    </div>
    <div
      id="collapseNineteen"
      class="collapse"
      aria-labelledby="headingNineteen"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
       The purpose of this is to prospect and explore the  minerals through Soil sampling, Bedrock sampling and  Mapping 
       
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwenty">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwenty"
          aria-expanded="false"
          aria-controls="collapseTwenty"
        >
        Mine design and planning
        </button>
      </h2>
    </div>
    <div
      id="collapseTwenty"
      class="collapse"
      aria-labelledby="headingTwenty"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        The purpose of this is to carry out, implement, manage and design both underground and surface mines
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwentyone">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwentyone"
          aria-expanded="false"
          aria-controls="collapseTwentyone"
        >
        Quarrying and management of quarries.
        </button>
      </h2>
    </div>
    <div
      id="collapseTwentyone"
      class="collapse"
      aria-labelledby="headingTwentyone"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        <ul>
          <li>Rock drilling</li>
          <li> Rock blasting</li>
          <li> Material handling</li>
        </ul>
   
   </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwentytwo">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwentytwo"
          aria-expanded="false"
          aria-controls="collapseTwentytwo"
        >
        Production scheduling and planning
        </button>
      </h2>
    </div>
    <div
      id="collapseTwentytwo"
      class="collapse"
      aria-labelledby="headingTwentytwo"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        To manage production for mining companies, meet the production target with high quality assurance and high standard of materials handling </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwentythree">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwentythree"
          aria-expanded="false"
          aria-controls="collapseTwentythree"
        >
        Geophysical data collection and interpretation/processing
        </button>
      </h2>
    </div>
    <div
      id="collapseTwentythree"
      class="collapse"
      aria-labelledby="headingTwentythree"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Geophysical data collection and interpretation/processing
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwentyfour">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwentyfour"
          aria-expanded="false"
          aria-controls="collapseTwentyfour"
        >
        Mineral reserve estimation and mapping
        </button>
      </h2>
    </div>
    <div
      id="collapseTwentyfour"
      class="collapse"
      aria-labelledby="headingTwentyfour"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Mineral reserve estimation and mapping
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwentyfive">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwentyfive"
          aria-expanded="false"
          aria-controls="collapseTwentyfive"
        >
        Mining
        </button>
      </h2>
    </div>
    <div
      id="collapseTwentyfive"
      class="collapse"
      aria-labelledby="headingTwentyfive"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Mining and sustainable community development programs
      </div>
    </div>
  </div>
</div>
