<div class="accordion accordion-group" id="our-values-accordion">
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
             Excellence
          </button>
        </h2>
    </div>
  
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
        <div class="card-body">
         We use the leading global industry standards and principles in all our work. Our team does intensive and extensive research to ensure maximum productivity.    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
             Safety
          </button>
        </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
        <div class="card-body">
        We ensure maximum safety both of our workforce through safety equipment and as well the safety of our clients in all aspects as exhibited through all our contracts.    </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Integrity
          </button>
        </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#our-values-accordion">
        <div class="card-body">
        We operate strictly in line and respect to all the terms and conditions discussed and agreed upon with our clients in the contract documents.  </div>
    </div>
  </div>
</div>